@font-face {
    font-family: 'Madelican';
    src: url(Madelican-2OO63.otf);
}

@font-face {
    font-family: "Medino";
    src: url(MedinoRegular-G3AMA.otf);
}

@font-face {
    font-family: "Aniyah";
    src: url(Aniyah\ Personal\ Use\ Only.ttf);
}

:root {
    --base-color: rgb(13, 27, 42);
    --warna-kontra: rgb(224, 225, 221);
}

html {
    width: max-content;
    height: 100%;
    min-height: 100%;
    scrollbar-color: goldenrod rgba(105, 116, 128, .2);
    color: white;
    font-family: "Lexend Giga", sans-serif;
    font-weight: 200;
    font-style: normal;
    overflow: hidden;
    margin: auto;
    inset: 0;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(224, 225, 221);
    z-index: -8;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    min-height: 100%;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    
}

@media screen and (max-width: 499px) {
    html {
        height: 200%;
    }

}


section {
    scroll-snap-align: start;
    overflow: hidden;
}

.layar {
    background-color: hsl(from var(--base-color) h s calc(l + 5));
    position: relative;
    max-width: 31.188rem;
    height: 120dvh;
    overflow: hidden;
    top: 0;
    margin: 0 auto;
    inset: 0;
    transition: 1.2s ease-in-out;

}

.titleContainer {
    position: relative;
    width: 100%;
    height: 120vh;
    transform-style: preserve-3d;
    transition: 1s cubic-bezier(1, 0.04, 0.49, 1);

    transform: rotateY(0deg);
}

.title, .titleBelakang {
    position: absolute;
    background-color: var(--base-color);
    text-align: center;
    width: 100%;
    height: 135vh;
    margin-top: 0;
    transition: 1.2s ease-in-out;
    z-index: 1;
    align-content: center;
    overflow: hidden;
    /* outline: 2px rgb(224, 225, 221) solid; */

    backface-visibility: hidden;
    
}

.titleBelakang {
    position: absolute;
    width: 100%;
    height: 120vh;
    margin-top: 0%;

    transform: rotateY(180deg);

}

.titleContainer-muter {
    position: relative;
    width: 100%;
    height: 120vh;
    transform-style: preserve-3d;
    transition: 1s cubic-bezier(1, 0.04, 0.49, 1);

    transform: rotateY(180deg);
}

.tombolBalik:hover, .tombolBalik-active:hover {
    cursor: pointer;
    background-color: #a47c18;
    border: 2px solid white;
}

.tombolBalik, .tombolBalik-active, #buka {
    position: absolute;
    width: 140px;
    height: 25px;
    border-radius: 15px;
    background-color: #daa520;
    inset: 0;
    margin: auto;
    z-index: 99;
    text-align: center;
    font-family: 'Medino';
    color: white;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    border: 2px solid none;
    top: 30vh;
    transform: rotate(0deg) translateY(0%);
}

.tombolBalik {
    top: 45%;
}

.tombolBalik-active {
    margin: auto;
    top: -50vh;
    right: 0;
    transform: rotate(-90deg) translateY(900%);
}

#buka {
    transition-delay: 1s;
    top: 52vh;
    left: -150%;
    z-index: 1;
}

#buka.active {
    left: 0%;
}

.stripBelakang {
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    background-color: hsl(from var(--base-color) h s calc(l - 2));
    width: 550px;
    height: 100%;
    text-align: center;
    display: block;

    transform: rotate(-45deg);
}

.stripBelakang h1 {
    position: relative;
    display: inline;
    font-family: 'Medino';
    font-weight: 300;
    font-size: 6rem;
    color: hsl(from var(--base-color) h s calc(l - 4));
    margin: 0;
    word-spacing: -0.5rem;
    /* top: 50%;
    left: 50%; */

    transform: rotate(45deg) translateX(-80%);
}

.belakangContainer{
    position: absolute;
    max-width: 400px;
    max-height: max-content;
    box-shadow: 0 0 50px 2px black;
    border-radius: 20px;
    inset: 0;
    margin: auto;
    top: -25%;
}

.belakangContainer p {
    margin: 0 8% 0 8%;
}

.belakangContainer :nth-child(9) {
    margin-bottom: 5%;
}

.belakangContainer h3 {
    font-size: clamp(2em, 2.5vw, 3em);
    font-family: "Madelican";
    font-weight: 200;
    padding-top: 7%;
    padding-bottom: 2%;
    line-height: 0;
}

.belakangContainer h4 {
    margin: 2% 10% 5% 10%;
}

.title .namaPengantin {
    font-size: 3.5rem;
    margin: 0;
    font-family: "Madelican", cursive;
    font-weight: 400;

    margin-left: 20%;
    /* display: inline-block; */

}

.namaPengantin::after {
    content: "";
    border: 3px rgb(255, 255, 255) solid;
    width: 30%;
    margin-left: 3rem;
    transform: translateY(45%);
    height: 90px;
    display: inline-block;
    border-radius: 0px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.namaPengantin::before {
    content: "";
    border: 3px rgb(255, 255, 255) solid;
    margin-right: 3rem;
    transform: translateX(50%) translateY(45%);
    height: 90px;
    display: inline-block;
    border-radius: 0px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.title .namaPengantin1 {
    font-size: 3.5rem;
    margin: 0;
    font-family: "Madelican", cursive;
    font-weight: 400;

    margin-top: -10%;
    /* margin-left: -50%; */
    /* display: inline-block; */

}

.namaPengantin1::after {
    content: "&";
    font-family: "Medino";
    font-style: italic;
    position: absolute;
    top: 26%;
    left: 45%;
    font-size: 2.4rem;
}

.namaPengantin, .namaPengantin1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(gambar/gambar1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    inset: 0;
    margin: auto;
    filter: blur(3px);
    z-index: -5;
}

.titleKotak {
    width: 100%;
    position: relative;
    top: -10%;
}

.tamuKotak {
    position: relative;
    box-shadow: 0px 0px 50px 0.2px black;
    width: 70%;
    height: max-content;
    inset: 0;
    margin: auto;
    border-radius: 20px;
}

.tamuKotak p {
    font-family: "Aniyah";
    font-weight: 200;
    padding-top: 3%;
    color: rgb(255, 202, 43);
    font-size: 0.9rem;
    margin: 0;
}

.tamuKotak h4 {
    margin: 0;
    margin-top: 2%;
    font-family: "Medino";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
}

.kotakOrnament {
    position: absolute;
    width: 30rem;
    height: 70rem;
    inset: 0;
    margin: auto;
    background-color: var(--base-color);
    z-index: -2;
    transition: 2.5s ease-in-out;
    box-shadow: 0px 0px 100px 100px hsl(from var(--base-color) h s calc(l - 4));

    transform: translate(40%, -55%) rotate(-45deg);
    animation: kotakNgambang 30s ease-in-out alternate infinite;
}

@keyframes kotakNgambang {
    0% {
        transform: translate(39%, -54%) rotate(-43deg);
    }
    100% {
        transform: translate(41%, -56%) rotate(-46deg);
    }
}

@keyframes kotakNgambang1 {
    0% {
        transform: translate(-195%, 30%) rotate(1.5deg);;
    }
    100% {
        transform: translate(-197%, 32%) rotate(-1.5deg);;
    }
}



.kotakOrnament::before {
    content: "";
    position: absolute;
    width: 40rem;
    height: 80rem;
    inset: 0;
    margin: auto;
    background-color: var(--base-color);
    z-index: -2;
    box-shadow: 0px 0px 100px 100px hsl(from var(--base-color) h s calc(l - 4));

    transform: translate(-195%, 30%) rotate(0deg);
    animation: kotakNgambang1 25s ease-in-out alternate infinite;
    animation-delay: 2s;
}

.bungaEmas {
    position: absolute;
    width: 55rem;
    height: 100%;

    top: 3%;
    right: -23%;
    background-image: url(gambar/bungaEmas.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);

    animation: ngambang 15s ease-in-out alternate infinite;
    animation-delay: 3s;
}

@keyframes ngambang {
    0% {
        transform: translate(-0.5%, -1%) rotate(-88deg);
    }

    100% {
        transform: translate(0.5%, 1%) rotate(-92deg);
    }

}

@keyframes ngambang1 {
    0% {
        transform: translate(0.1%, 0.2%) rotate(183deg);
    }

    100% {
        transform: translate(-0.1%, -0.2%) rotate(177deg);
    }

}



.bungaEmas::after {
    content: "";
    position: absolute;
    width: 55rem;
    height: 100%;

    top: -80%;
    right: 60%;
    background-image: url(gambar/bungaEmas.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);

    animation: ngambang1 10s ease-in-out alternate infinite;
    animation-delay: 5s;
}

.balokBunga {
    position: fixed;
    background-color: white;
    bottom: 2%;
    left: 3%;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 9;

}

.balokBunga p {
    color: red;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* ////////////// */

.pembukaanContainer {
    position: relative;
    max-width: 31.188rem;
    height: 100dvh;
    background: var(--base-color);
    inset: 0;
    margin: auto;
    overflow: hidden;

    display: grid;
    align-items: center;
    justify-content: center;

    text-align: center;
    gap: 2rem;

}

.gambarPembukaan {
    position: relative;
    min-width: 300px;
    min-height: 450px;
    border: 4px solid white;
    background: url(gambar/pembukaan.jpg) no-repeat center center / cover;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: 0 0 100px 5px black;
    transform: translateY(0%);

    inset: 0;
    margin: auto;
}

.pembukaanKotakTulisan{
    position: relative;
    width: 70%;
    height: max-content;
    inset: 0;
    margin: auto;
    box-shadow: 0 0 100px 5px black;
    border-radius: 10px;
    transform: translateY(-25%);
}

.pembukaanKotakTulisan p {
    padding: 10px;
    font-size: 1rem;
}

@media screen and (max-height: 1000px) {
    .pembukaanKotakTulisan p {

        font-size: 0.8rem;
    }
}

.bungaMojok{
    position: absolute;
    height: 400px;
    width: 400px;
    background: url(gambar/bungaIntrovet.png) no-repeat center center / 95%;

    transform: rotate(270deg);
    bottom: -2%;
    left: -10%;
}

.bungaMojok1{
    position: absolute;
    height: 400px;
    width: 400px;
    background: url(gambar/bungaIntrovet.png) no-repeat center center / 95%;

    transform: rotate(-270deg);
    top: -2%;
    right: -10%;
}

.bungaTulisan{
    position: absolute;
    height: 100px;
    width: 200px;
    background: url(gambar/bungaEmas.png) no-repeat center center / 95%;
    inset: 0;
    margin: auto;

    transform: translateY(70%);

}




/* //////////////////// */

.part1Container {
    position: relative;
    max-width: 31.188rem;
    height: 100dvh;
    background: url(gambar/bg.jpg) no-repeat center center / cover;
    inset: 0;
    margin: auto;
    overflow: hidden;
    z-index: -2;
    
}

.part1Container::after {
    content: '';
    position: absolute;
    width: 31.188rem;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--base-color), hsla(from var(--base-color) h s calc(l - 5) / 0));
    z-index: -1;
    backdrop-filter: blur(3px);
}

.part1Kotak {
    position: absolute;
    width: 100%;
    height: 350px;
    left: 3%;
    top: 5%;
}

.part1Kotak h2 {
    font-family: 'Madelican';
    font-weight: 200;
    margin: 0;
    padding: 0;
    line-height: 4rem;
    font-size: 2.8rem;

}

.peria {
    position: absolute;
    background: url(gambar/peria.png) no-repeat center center / cover;
    /* mask-image: linear-gradient(black, transparent); */
    width: 20rem;
    height: 55rem;
    right: -5%;
    top: 15%;
    z-index: 2;
}

.peria::after {
    content: '';
    position: absolute;
    width: 1000px;
    height: 100%;
    background: linear-gradient(to top, hsla(from var(--base-color) h s calc(l - 5) / 0.8), hsla(from var(--base-color) h s l / 0));
    left: -70%;
    z-index: 6;
    bottom: -12%;
}

.peria::before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 100%;
    background: linear-gradient(to top, hsla(from var(--base-color) h s calc(l - 5) / 1), hsla(from var(--base-color) h s l / 0));
    left: -70%;
    z-index: 6;
    bottom: -5%;
}

.part1KotakKotak {
    position: relative;
    width: 320px;
    height: 200px;
}

.part1KotakKotak p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.part1KotakKotak :nth-child(1) {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.part1KotakKotak :nth-child(3) {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 5rem;
}

.part1KotakKotak :nth-child(even) {
    color: goldenrod;
    font-size: 1.1rem;
}

.wayang {
    position: absolute;
    background: url(gambar/bungaBukanEmas.png) no-repeat center center / 95%;
    width: 350px;
    height: 550px;
    transform-origin: bottom;

    top: 35%;
    right: -30%;

    transform: rotate(-60deg);
    z-index: 2;
}

.wayang1 {
    position: absolute;
    background: url(gambar/bungaBukanEmas.png) no-repeat center center / 95%;
    width: 350px;
    height: 500px;

    top: 5%;
    right: 5%;

    transform: rotate(-30deg);
    z-index: 2;
}

.tedung {
    position: absolute;
}

.bulat {
    --ukuran-bulat: 6;
    position: absolute;
    width: calc(100px * var(--ukuran-bulat));
    height: calc(100px * var(--ukuran-bulat));
    border: 4px var(--warna-kontra) solid;
    border-radius: 50%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    z-index: 3;

    transform: rotateY(40deg) translateX(10%) translateY(-10%) skew(15deg);
}

.bulat-bulat {
    --ukuran-bulat: 6;
    position: absolute;
    width: calc(100px * var(--ukuran-bulat));
    height: calc(100px * var(--ukuran-bulat));
    border: 4px var(--warna-kontra) solid;
    border-radius: 50%;
    z-index: 1;

    transform: rotateY(40deg) translateX(10%) translateY(-10%) skew(15deg);

}

.part1Container .s {
    position: absolute;
    font-family: "Updock", cursive;
    font-weight: 200;
    font-size: 10rem;
    z-index: 10;
    color: goldenrod;

    bottom: 3%;
    left: 10%;

    
}

.bungaLagi {
    position: absolute;
    background-image: url(gambar/bungaEmas.png);
    background-size: cover;
    width: 800px;
    height: 200px;
    z-index: 3;
    opacity: 0.3;

    bottom: -5%;
    left: -29%;
}

/* /////////// */

.part2Container {
    position: relative;
    max-width: 31.188rem;
    height: 100vh;
    background: url(gambar/bg1.jpg) no-repeat center center / cover;
    inset: 0;
    margin: auto;
    overflow: hidden;
    z-index: -2;
    
}

.part2Container::after {
    content: '';
    position: absolute;
    width: 31.188rem;
    height: 100vh;
    background-image: linear-gradient(to top, var(--base-color), hsla(from var(--base-color) h s calc(l - 5) / 0.6));
    z-index: -1;
    backdrop-filter: blur(3px)
}

.atasan {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, var(--base-color), hsla(from var(--base-color) h s calc(l - 5)));
    opacity: 0.3;
    z-index: -2;
}

.part2Kotak {
    position: absolute;
    width: 100%;
    text-align: right;
    right: 3%;
}

.part2Kotak h2 {
    font-family: "Madelican";
    font-weight: 200;
    font-size: 2.7rem;
    line-height: 4rem;

    margin-top: 10%;
    margin-bottom: 0;
}

.part2KotakKotak {
    position: absolute;
    width: 100%;
    height: 250px;
    text-align: right;
    font-size: 1rem;
}

.part2KotakKotak p {
    line-height: 0.5rem;
}

.part2KotakKotak :nth-child(1) {
    margin-top: 0;
    padding-bottom: 0.7rem;
}

.part2KotakKotak :nth-child(3) {
    padding-right: 15%;
    line-height: 0.8rem;
}

.part2KotakKotak :nth-child(2), .part2KotakKotak :nth-child(4) {
    color: goldenrod;
}

.wanita {
    position: absolute;
    background: url(gambar/wanita.png) no-repeat center center / 95%;
    /* mask-image: linear-gradient(black, transparent); */
    width: 50rem;
    height: 90rem;
    left: -10%;
    top: -5%;

}

.wanita::after {
    content: '';
    position: absolute;
    width: 1000px;
    height: 100%;
    background: linear-gradient(to bottom, hsla(from var(--base-color) h s calc(l - 5) / 0), hsla(from var(--base-color) h s l / 1));
    left: 0%;
    z-index: 6;
    bottom: -5%;
}

.lingkar {
    position: absolute;
    width: 600px;
    height: 600px;
    border: 5px var(--warna-kontra) solid;
    border-radius: 50%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    z-index: 8;

    transform: rotateY(40deg) translateX(-32%) translateY(51.5%) skew(-15deg);
}

.lingkar-lingkar {
    position: absolute;
    width: 600px;
    height: 600px;
    border: 4px var(--warna-kontra) solid;
    border-radius: 50%;
    z-index: 0;

    transform: rotateY(40deg) translateX(-32%) translateY(50%) skew(-15deg);

}

.bukanWayang {
    position: absolute;
    background: url(gambar/bungaBukanEmas.png) no-repeat center center / 95%;
    width: 400px;
    height: 400px;

    top: 35%;
    left: 12%;

    transform: rotate(90deg);
    z-index: 0;
}

.bukanWayang1 {
    position: absolute;
    background: url(gambar/bungaBukanEmas.png) no-repeat center center / 95%;
    width: 300px;
    height: 300px;

    top: 25%;
    left: -10%;

    transform: rotate(-20deg);
    z-index: 0;
}

.bukanWayang2 {
    position: absolute;
    background: url(gambar/bungaEmas.png) no-repeat center center / cover;
    width: 500px;
    height: 300px;

    bottom: -15%;
    z-index: 1;
    opacity: 0.5;
}

.part2Container .m {
    position: absolute;
    font-family: "Updock", cursive;
    font-weight: 200;
    font-size: 8rem;
    z-index: 10;
    color: goldenrod;

    bottom: 3%;
    right: 12%;

}

/* //////////////////////// */

.galeri {
    position: relative;
    max-width: 31.188rem;
    height: 100vh;
    background: linear-gradient(to top, hsl(from var(--base-color) h s calc(l - 3)), hsl(from var(--base-color) h s l));
    inset: 0;
    margin: auto;
    z-index: -4;
}

.kotakGambar{
    border: 3px solid white;
    border-radius: 2px;
    background-color: white;
    transition: 0.8s ease-in-out;
}

.kotakGambar:hover {
    border: 3px solid goldenrod;
    cursor: pointer;
}

.kotakGambar img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.galeriContainer {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 95%;
    height: 100vh;
    display: grid;
    grid-template-columns: 160px 150px 150px;
    grid-template-rows: 150px 120px 170px 200px;
    grid-gap: 0.3em;
    align-content: center;


    transform: translateX(0.9%);

    grid-template-areas: 
    "kotak1 kotak1 kotak2"
    "kotak3 kotak4 kotak2"
    "kotak3 kotak7 kotak7"
    "kotak8 kotak9 kotak10";
}

.galeri h2 {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Madelican';
    font-weight: 200;
    font-size: 2.8rem;
    line-height: 2rem;

    top: 6%;
    z-index: 10;
}

.galeri h2::after {
    content: '';
    width: 250px;
    height: 2px;
    border-radius: 4px;
    background-color: goldenrod;
    display: block;
    inset: 0;
    margin: auto;
    z-index: 10;
}

.bungaPeot {
    position: absolute;
    background: url(gambar/bungaEmas.png) no-repeat center center / 95%;
    width: 500px;
    height: 600px;
    z-index: -1;

    bottom: -5%;
    left: -15%;
    transform: rotate(180deg);
    opacity: 0.8;
}

.tedung {
    position: absolute;
    background: url(gambar/tedung.png) no-repeat center center / 95%;
    width: 300px;
    height: 500px;
    z-index: -1;

    right: -10%;
    top: 1%;
    transform: scaleX(-1);
    opacity: .5;
}

/* /////// */

#cahayaKotak {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    transition: 1.5s cubic-bezier(0.47, -0.77, 1, 0.98);
    display: flex;
    overflow: hidden;

    max-width: 31.888rem;
    max-height: 130vh;

    transform: translateY(120vh) rotate(30deg);
}

#cahayaKotak.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    transition: 1.8s cubic-bezier(0, 1, 1, 1.01);
    overflow: hidden;

    max-width: 31.888rem;
    max-height: 130vh;


    transform: translateY(0vh) rotate(0deg);

    --after-warna: transparent;
}

@keyframes geter {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* #cahayaKotak::after{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--after-warna);
    z-index: 1001;
    display: block;
    transition: 1s cubic-bezier(0, 1, 1, 1.01);
} */

#menggambar {
    width: 100%;
    border: 7px white solid;
    background-position: center center;
}

#flash {
    position: absolute;
    z-index: 1000;
    width: 100%;
    transition: 1s cubic-bezier(0, 1, 1, 1.01);
    pointer-events: none;
}

#keKiri {
    position: fixed;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: goldenrod;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;

    bottom: -7%;
    left: 30%;

    transition: .8s cubic-bezier(0, 1, 1, 1.01);
    transform: rotate(50deg);
    transition-delay: 1.3s;
}

#keKiri p {
    text-align: left;
    line-height: 0;
    padding: 0;
    margin: 0;
    transform: translateX(2px);
}

#keKanan {
    position: fixed;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: goldenrod;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;

    bottom: -7%;
    right: 30%;

    transition: .8s cubic-bezier(0, 1, 1, 1.01);
    transform: rotate(-50deg);
    transition-delay: 1.5s;

}

#keKanan p {
    text-align: left;
    line-height: 0;
    padding: 0;
    margin: 0;
    transform: translateX(2px);
}

#adios {
    position: fixed;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: rgb(190, 49, 49);
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;

    bottom: -7%;
    right: 47%;

    transition: .8s cubic-bezier(0, 1, 1, 1.01);
    transform: rotate(0deg);
    transition-delay: 1.7s;

}

#adios p {
    text-align: center;
    line-height: 0;
    padding: 0;
    margin: 0;
    transform: translateY(1px);
    font-family: 'Medino';
}

#tutup {
    position: fixed;
    width: 31.188rem;
    min-height: 50%;
    background-color: var(--warna-kontra);
    z-index: 999;
    transition: 1.2s cubic-bezier(0, 1, 1, 1.01);

    top: -50%;
}

#tutup.active {
    position: fixed;
    width: 31.188rem;
    min-height: 50%;
    background-color: var(--warna-kontra);
    z-index: 999;
    transition: 1.2s cubic-bezier(0, 1, 1, 1.01);

    top: 0vh;
}

#tutup1 {
    position: fixed;
    width: 31.188rem;
    min-height: 50%;
    background-color: var(--warna-kontra);
    z-index: 999;
    transition: 1.2s cubic-bezier(0, 1, 1, 1.01);

    bottom: -50%;
}

#tutup1.active {
    position: fixed;
    width: 31.188rem;
    min-height: 50%;
    background-color: var(--warna-kontra);
    z-index: 999;
    transition: 1.2s cubic-bezier(0, 1, 1, 1.01);

    bottom: 0vh;
}

/* /////////////////////// */

.resepsiContainer {
    position: relative;
    width: 31.188rem;
    height: 100vh;
    background: linear-gradient(to bottom, hsl(from var(--base-color) h s calc(l - 3)), hsl(from var(--base-color) h s l));
    inset: 0;
    margin: auto;
}

.resepsiContainer h3 {
    font-size: 4.75vh;
    font-family: 'Madelican';
    font-weight: 200;
    line-height: 1.2rem;
}

.resepsiContainer h3::after {
    content: '';
    width: auto;
    height: 2px;
    border-radius: 4px;
    background-color: goldenrod;
    display: block;
    inset: 0;
    margin: auto;
    z-index: 10;
}

.kotakJam{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 12%;
    transition: 0.5s ease-in-out;
}

.waktu {
    text-align: center;
    box-shadow: 0px 0px 50px 5px black;
    width: 10vh;
    height: 10vh;
    border-radius: 15px;
    margin-bottom: 4rem;
}

.waktu::after {
    content: '';
    background-color: white;
    height: 40px;
    width: 3px;
    display: block;
    inset: 0;
    margin: auto;
    margin-top: 42%;
}

.waktu h2 {
    font-size: 2.5vh;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 15%;
    
}

.waktu p {
    font-size: 1.875vh;
    font-weight: 200;
    color: goldenrod;
    margin-bottom: 0;
    margin-top: 0;
}

.kotakJam a {
    cursor: pointer;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    width: 30.5vh;
    font-size: 1.7vh;
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: goldenrod;
    border: 1px white solid;
    border-radius: 20px;

    z-index: 10;
}

.kotakJam h5 {
    font-size: 1.5vh;
    margin: 0;
}

.bungaResepsi {
    position: absolute;
    height: 400px;
    width: 400px;
    background: url(gambar/bungaIntrovet.png) no-repeat center center / 95%;

    transform: rotate(-270deg);
    top: -2%;
    right: -10%;
    opacity: 0.5;

}

.bungaResepsi1 {
    position: absolute;
    height: 400px;
    width: 400px;
    background: url(gambar/bungaIntrovet.png) no-repeat center center / 95%;

    transform: rotate(270deg);
    bottom: -2%;
    left: -10%;
    opacity: 0.5;

}



/* /////////////////// */

.alamatContainer {
    position: relative;
    width: 31.188rem;
    height: 100vh;
    background: linear-gradient(to top, hsl(from var(--base-color) h s calc(l - 3)), hsl(from var(--base-color) h s l));
    inset: 0;
    margin: auto;
}

.alamatContainer h2 {
    position: relative;
    font-size: 4.75vh;
    font-family: 'Madelican';
    font-weight: 200;
    line-height: 1rem;
}

.alamatContainer h2::after {
    content: '';
    width: 350px;
    height: 2px;
    border-radius: 4px;
    background-color: goldenrod;
    display: block;
    inset: 0;
    margin: auto;
    z-index: 10;
}

.kotakAlamat {
    position: absolute;
    width: 70%;
    height: 40vh;
    margin-top: 20vh;
    inset: 0;
    margin: auto;
    top: -30%;
    text-align: center;
}

.alamat {
    position: relative;
    width: 100%;
    height: 100%;
    border: #daa520 2px solid;
    background: url(gambar/lokasi.png) no-repeat center center / cover;

}

.gasAlamat {
    text-align: center;
}

.kotakAlamat a {
    display: block;
    width: 20vh;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: goldenrod;
    border-radius: 20px;
    border: 1px white solid;
    font-size: 1.5vh;
    left: 50%;
    transform: translateX(-50%);

    z-index: 99;
}

.bungaAlamat {
    position: absolute;
    height: 400px;
    width: 400px;
    background: url(gambar/bungaIntrovet.png) no-repeat center center / 95%;

    transform: rotate(-270deg);
    top: -2%;
    right: -10%;
    opacity: 0.5;

}

.bungaAlamat1 {
    position: absolute;
    height: 400px;
    width: 400px;
    background: url(gambar/bungaIntrovet.png) no-repeat center center / 95%;

    transform: rotate(270deg);
    bottom: -2%;
    left: -10%;
    opacity: 0.5;

}

/* /////////////////// */

@media screen and (max-width: 499px) {
    .title, .titleContainer, .titleContainer-muter, .layar, .titleBelakang, section {
        height: 135dvh;
        transition: 1s;
    }

    body {
        scroll-snap-type: none;
        scrollbar-color: transparent transparent;
        overflow-x: hidden;
    }
    
}

@media screen and (max-height: 900px) {
    .kotakJam {
        margin-top: -2%;
    }
}

/* ////////////// */



.akhirKata {
    position: relative;
    max-width: 31.188rem;
    height: 100vh;
    background: linear-gradient(to bottom, hsl(from var(--base-color) h s calc(l - 3)), hsl(from var(--base-color) h s l));
    inset: 0;
    margin: auto;
    overflow: hidden;
    z-index: -2;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kotakAkhir {
    width: 25rem;
    height: 20rem;
}

.kotakAkhir p {
    font-size: 1.3rem;
}

.kotakAkhir p:nth-child(4) {
    color: goldenrod;
}

.bungaAkhir {
    position: absolute;
    height: 400px;
    width: 400px;
    background: url(gambar/bungaIntrovet.png) no-repeat center center / 95%;

    transform: rotate(-270deg);
    top: -2%;
    right: -10%;
    opacity: 0.5;

}

.bungaAkhir1 {
    position: absolute;
    height: 400px;
    width: 400px;
    background: url(gambar/bungaIntrovet.png) no-repeat center center / 95%;

    transform: rotate(270deg);
    bottom: -2%;
    left: -10%;
    opacity: 0.5;

}

/* ////////// */

.decoy {
    position: relative;
    width: 31.188rem;
    height: 100vh;
    background: transparent;
    inset: 0;
    margin: auto;
}

/* /////// */


.preloader {
    position: fixed;
    height: 100%;
    width: 31.188rem;
    overflow: hidden;

    z-index: 1945;
}

.tutupLoading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--base-color);
    margin: auto;
    inset: 0;
    transition: 1s cubic-bezier(1, 0.01, 1, 1.01);

    transform: translateX(48%);
    
}

.tutupLoading1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--base-color);
    margin: auto;
    inset: 0;
    transition: 1s cubic-bezier(1, 0.01, 1, 1.01);

    transform: translateX(-48%);
    
}

.loadingnya {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    background: url(gambar/sunBunga.gif) no-repeat center center / cover;
    transition: 1.5s cubic-bezier(0.81, -0.92, 1, 1.24);

    transform: scale(1);
}

@keyframes flashbang {
    0% {
        background-color: var(--base-color);
    }

    20%{
        background-color: white;
    }

    80% {
        background-color: white;
    }

    100% {
        background-color: var(--base-color)
    }
}